doctype html
head
    title workshop query
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js', integrity='sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em', crossorigin='anonymous')
    style.
        text{
            color: red;
        }
.col-md-2
.col-md-12
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.f1(style='margin-top: 10px;')
        a.navbar-brand(href='#') WELCOME
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/expo/search')
                        | Home
                        span.sr-only (current)
        div
            ul.navbar-nav(style='margin-right: 100px;')
                li.nav-item
                    a.nav-link(href='') Logout
    .row
        .col-md-2
        .col-md-8
            div(style='margin-top: 30px;margin-left: 50px;')
                h5(style='color: red;') * enter details *
            form(method='POST', enctype='multipart/form-data', action='/conference/conferenceform')
                #form-group1
                    label Organized at:
                    input.form-control(name='organizer', type='text')
                #form-group2
                    label Date:
                    input.form-control(name='date', type='date', max='undefined-undefined-undefined')
                #form-group3
                    label Number of count:
                    input.form-control(name='count', type='number')
                #form-group4
                    label Subject:
                    textarea.form-control(name='subject', type='text')
                    br
                #form-group5
                    label PO:
                    input.form-control(name='po', type='text')
                #form-group6
                    label PSO:
                    input.form-control(name='pso', type='text')
                #form-group8
                    label file:
                    input.form-control(name='file', type='file')
                br
                input.btn.btn-primary(type='submit', value='Submit')
            .col-md-2
.col-md-1
