doctype html
head
    title workshop query
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js', integrity='sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em', crossorigin='anonymous')
    style.
        text{
            color: red;
        }
.col-md-2
.col-md-12
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.f1(style='margin-top: 10px;')
        a.navbar-brand(href='#') WELCOME
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/expo/search')
                        | Home
                        span.sr-only (current)
        div
            ul.navbar-nav(style='margin-right: 100px;')
                li.nav-item
                    a.nav-link(href='') Logout
    .row
        .col-md-2
        .col-md-8
            div(style='margin-top: 30px;margin-left: 50px;')
                h5(style='color: red;') * enter details *
            form(method='POST', action='/guest/guestattform')
                .form-group
                    label Organized by:
                    input.form-control(name='organizer', type='text')
                .form-group
                    label Date:
                    input.form-control(name='date', type='date', max='undefined-undefined-undefined')
                .form-group
                    label Number of days guest lecture was attended:
                    input.form-control(name='day', type='number')
                .form-group
                    label Subject:
                    textarea.form-control(name='subject', type='text')
                    br
                    label Category:
                .form-group
                    label.radio-inline
                        input(type='radio', name='r4', value='1')
                        | internatioal
                    label.radio-inline
                        input(type='radio', name='r4', value='2')
                        | National
                    label.radio-inline
                        input(type='radio', name='r4', value='3')
                        | State
                    label.radio-inline
                        input(type='radio', name='r4', value='4')
                        | University
                    label.radio-inline
                        input(type='radio', name='r4', value='5')
                        | Local/College level
                .form-group
                    label PO:
                    input.form-control(name='po', type='text')
                .form-group
                    label PSO:
                    input.form-control(name='pso', type='text')
                .form-group
                    label Venue:
                    textarea.form-control(name='place', type='text')
                br
                input.btn-primary(type='submit', value='Submit')
            .col-md-2
.col-md-1
