extends layout

block content
    h1 REGISTER
    form(method='POST',action='/users/register')
        div.form-group
            label Name:
            input.form-control(name='name',type='text')
        div.form-group
            label Email:
            input.form-control(name='email',type='text')
        div.form-group
            label Username:
            input.form-control(name='username',type='text')
        div.form-group
            label Password:
            input.form-control(name='password',type='password')
        div.form-group
            label Confirm:
            input.form-control(name='password2',type='password')
        br
        input.btn-primary(type='submit',value='Submit')