doctype html
head
    title seminar query
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js', integrity='sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em', crossorigin='anonymous')
    style.
        text
        {
            color: red;
        }
.col-md-2
.col-md-12
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.f1(style='margin-top: 10px;')
        a.navbar-brand(href='#') WELCOME
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/expo/search')
                        | Home
                        span.sr-only (current)
        div
            ul.navbar-nav(style='margin-right: 100px;')
                li.nav-item
                    a.nav-link(href='') Logout

    h1= seminar.organizer
    h5 Written by #{attendee}
    a(href="/openfile/"+seminar._id+"/"+seminar.file, target='_blank')=seminar.file
    h2
        p= seminar.subject
    hr
    br